chardet==5.2.0
numpy==2.0.1
opencv-python==4.10.0.84
pillow==10.4.0
pypng==0.20220715.0
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
pyzbar==0.1.9
qrcode==7.4.2
shiboken6==6.7.2
typing_extensions==4.12.2
zxing==1.0.3
